{% extends "base.html" %}

{% block content %}
<section style="padding: 60px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="color: #1a3c5e; margin-bottom: 20px;">Contact Us</h1>
                <p style="font-size: 18px;">Get in touch with the Municipality of Las Nieves</p>
            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-4 text-center">
                <i class="fas fa-phone" style="font-size: 48px; color: #2a7a3b;"></i>
                <h4 style="margin-top: 15px;">Phone</h4>
                <p>(088) 813-0110</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-envelope" style="font-size: 48px; color: #2a7a3b;"></i>
                <h4 style="margin-top: 15px;">Email</h4>
                <p>info@lasnieves.gov.ph</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-map-marker-alt" style="font-size: 48px; color: #2a7a3b;"></i>
                <h4 style="margin-top: 15px;">Address</h4>
                <p>Poblacion, Las Nieves<br>Agusan del Norte</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
